@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color:#f1f1f1;
    --bg-secondary:#fbfbfb;
    --dark-gray:#333;
    --black:#1f2226;
    }

body{
    
  font-family: "Open Sans", serif;
  background-color: var(--bg-color);
}
h2,
h1,
h3 {
color: var(--dark-gray);
  font-family: "Oswaldul", serif;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
/*utility classes her kisimda kulinacak sey */
/*1genis ilgili class*/

#container {
max-width: 1200px;
margin: auto;
}
.text-primary{
    color:burlywood;
}
/*header*/
#header{
position: fixed
;
     background-color:#fff ;
    width: 100%;
    border-bottom:1px solid #ccc;
}

#header .navbar  {
display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height:90px ;
}
#header .navbar .logo {
    width: 300px;

}
#header .navbar ul {
    display: flex;
}
#header .navbar ul li a {
    color: var(--dark-gray);
    font-size: 0 20px;
    margin: 0 20px;
    font-weight: 500;
}
#header .navbar ul li a:hover {
    color: brown;
}
/*header and*/
/*home start*/
#home {
    background:url("./home-bg.png")center center /cover no-repeat;
    background-size: 100%;
    background-color: var(--bg-color);

}
#home .home-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    gap: 3rem;
    align-items: center;
        
    } 
#home .home-content .content-text h3{
    font-size: 24px;
    font-weight: 400;
}
#home .home-content .content-text{
    padding-left: 100px;
}
#home .home-content .content-text h1{
    font-size: 80px;
    margin: 20px 0;
    line-height: 1.3;

    }
    #home .home-content .content-text p{
       line-height: 1.5;
        font-size: 18px;
    }
    #home .home-content .content-text .btn{
        margin-top: 2rem;
        display: inline-block;
        background-color:#4b2e1e;
color: #fff;
padding: 15px 25px;
border-radius: 30px;
    }
  #home .home-content .content-text .btn:hover{
    background-color:var(--dark-gray);

  }  
  #home .home-content .content-text .btn i {
    margin-left: 5px;
  }
    #home .home-content img{
        display: block;
        width:80%;
    }
    /*about  start 3. kisim*/
    #about{
        padding: 6rem 0;
    }
    #about .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
  align-items: center;
    }
    #about .row .about-content h2{
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 10px;
    }
    #about .row .about-content .item {
        margin: 2rem 0;
    }
    #about .row .about-content .item h3{
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    #menu{
        background-color: var(--bg-secondary);
    }